<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="card col-md-6 text-white bg-dark mb-3" style="width: 20rem;">
        <div class="card-header text-center bg-color-primary"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</div>
      <div class="card-body">
        <h4 class="card-title">Username Cart</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group bg-light text-dark list-group-flush">
        <li class="list-group-item">Item 1</li>
        <li class="list-group-item">Item 2</li>
        <li class="list-group-item">Item 3</li>
      </ul>
      <div class="card-body">
        <a href="/shop" class="card-link">Continue Shopping</a>
        <a href="#" class="card-link">Checkout</a>
      </div>
    </div>
  </div>