<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Product Name</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Specs</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4 class="card-title">Product Detail</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>